@media only screen and (min-width: 720px) {
* {
    box-sizing: border-box;
}

body {
    padding: 5px;
    background-image: url(https://i.postimg.cc/RhKhVqzG/cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 20px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.head-text {
    line-height: 20px;
    color: #670458;  
}

.logoPhoto {
    margin-left: 20px;
    height: 100%;
    width: 100%;
}

.headText2 {
    margin-left: 130px;
}

.sign-up-form {
    
    border-radius: 5px;
    margin-right: 20px;
    padding: 8px;
    border: 2px solid #99146b;
    line-height: 30px;
   display: grid;   
}

.form-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

form.sign-up-form label {
    color: #5d1363;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 900;
}

form.sign-up-form input {
    border: 2px solid #2799ce ;
    border-radius: 5px;
}

div.form-buttons button {
    border: 2px solid #2799ce ;
    border-radius: 5px;
    color:#2799ce ;
    font-weight: 600;
    margin-bottom: 5px;   
}

button:hover {
    cursor: pointer;
}

div.form-buttons a {
    font-size: 18px;
    text-decoration: none;
    color: #c1faee;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

#headingPhoto {
   width: 100%;
   height: 100%;
}

#navBar {
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    margin-top: 30px;
    border-bottom: solid #4a50f7 2px;
}

#navBar a {
    color: #670458;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

#navBar a:hover {
    color: #866bff;
}



input {
    border-radius: 5px;
    border-style: solid;
    border-color:#2799ce ;
    font-size: bold;
    font-size: 18px;
}

.lines {
    width: 40%;
    background-color: #2799ce;
    border: none;
    height: 2px;
}
.employee-estimator {
    display: flex;
    justify-content: space-around;
}
.input-box {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
     padding: 26px;
  color: #670458;
  border-radius: 5px;
  border-style: solid;
  border-color:#770085 ;
  font-size: bold;
  border-width: 2px;
  
}
div.input-box input {
      width: 160px;
      border-color:#866bff ;
      border-style: solid;
      border-radius: 5px;
      
}
.result {
    display: flex;
    justify-content: center;
}

.calculate-button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    cursor: pointer;
    /* margin-left: 22px; */
    padding: 14px;
    color: #4a50f7;
    font-size: 20px;
    border: solid 2px #866bff;
}
.show-result-employee {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #670458;
    /* border: #4a50f7 2px solid; */
    margin: auto;
}
.restart {
    font-family: 'Source Sans Pro', sans-serif;
    border: #4a50f7 2px solid;
    border-radius: 5px;
    font-weight: bold;
    color:#670458 ;
    margin-left: 20px;
    margin-top: 17px;
    font-size: 18px;
    width: 80px;
    height: 50px;
}

.calculate-button:hover {
    border: solid 3px #866bff;
}

.estimation {
    display: inline-block;
}


h3 {
    display: inline-block;
}

.inpc:empty {
    background-color:whitesmoke;   
}

.hidden {
    display: none;
}
div.log-in-link {
    display: none;
}
div.sign-up-link {
    display: none;
}
}
@media only screen and (max-width: 720px) {
    * {
        box-sizing: border-box;
    }
    
    body {
        
        background-image: url(https://i.postimg.cc/RhKhVqzG/cool-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Source Sans Pro', sans-serif;
      
        text-decoration: none;
    }
    
    .header {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    
    .head-text {
        display: none;
        line-height: 20px;
        color: #670458;  
    }
    
    .logoPhoto {
        margin-top: 15px;
        width: 150px;
        
    }
    
    .headText2 {
        margin-left: 130px;
    }
    
    .sign-up-form {
        border-radius: 5px;
        margin-right: 20px;
        padding: 8px;
        border: 2px solid #99146b;
        line-height: 30px;
       display: grid;   
    }
    
    .form-buttons {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    
    form.sign-up-form label {
        color: #5d1363;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 900;
    }
    
    form.sign-up-form input {
        border: 2px solid #2799ce ;
        border-radius: 5px;
    }
    
    div.form-buttons button {
        border: 2px solid #2799ce ;
        border-radius: 5px;
        color:#2799ce ;
        font-size: 12px;
        /* margin-bottom: 5px;    */
    }
    
    button:hover {
        cursor: pointer;
    }
    
    div.form-buttons a {
        font-size: 18px;
        text-decoration: none;
        color: #c1faee;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    #headingPhoto {
       width: 100%;
       height: 100%;
    }
    
    #navBar {
        
        width: 100%;
        position: fixed;
        top: 1px;
        left: 0px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 7px;
        /* border-bottom: solid #4a50f7 1px; */
        /* background-color: #a18d97; */
          font-weight: bold;
        font-size: 12px;
          
    }
    
    
    
    #navBar a:hover {
        color: #866bff;
    }
    
    table td {
        overflow: hidden;     
        padding: 10px;  
    }
    
    form.sign-up-form input {
        border-radius: 5px;
        border-style: solid;
        border-color:#2799ce ;
        font-size: bold;
        font-size: 18px;
    }
    
    .lines {
        width: 40%;
        background-color: #2799ce;
        border: none;
        height: 2px;
    }
    
    .calculate-button {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        cursor: pointer;
        /* margin-left: 22px; */
        padding: 5px;
        color: #4a50f7;
        font-size: 10px;
        border: solid 2px #866bff;
        border-radius: 5px;
    }
    
    .calculate-button:hover {
        border: solid 3px #866bff;
    }
    
    form.sign-up-form {
        display: none;
    }
    h3 {
        display: inline-block;
    }
    
    .inpc:empty {
        background-color:whitesmoke;   
    }
    
    .hidden {
        display: none;
    }
    
    .employee-estimator {
        display: flex;
        justify-content: space-around;
    }
    .input-box {
        font-size: 15px;
        width: 90px;
        height: 90px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
         /* padding: 2px; */
      color: #670458;
      border-radius: 5px;
      border-style: solid;
      border-color:#770085 ;
      font-size: bold;
      border-width: 2px;
      
    }
    div.input-box input {
          width: 80px;
          border-color:#866bff ;
          border-style: solid;
          border-radius: 5px;
          
    }
    .result {
        display: flex;
        justify-content: center;
    }
    div.log-in-link {
        border: 2px solid #2799ce ;
        border-radius: 5px;
        font-size: 12px; 
    }
    a.super-link {
        color: white;
        padding: 5px;
        text-decoration: none;
    }
    .linkNav a {
        color: #670458;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;

    }
    .show-result-employee {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #670458;
        /* border: #4a50f7 2px solid; */
        margin: auto;
    }
    .restart {
        padding: 2px;
        border: #4a50f7 2px solid;
        border-radius: 5px;
        font-weight: bold;
        color:#670458 ;
        margin-left: 20px;
        margin-top: 17px;
        font-size: 10px;
        width: 50px;
        height: 24px;
    }
    
}
