body {
    box-sizing: border-box;
    background-image: url(body.jpg);
    color: white;
   /* background: linear-gradient(0, 0, 0, 0);*/
    margin: 20px;
    text-decoration: none;
}
header {
    display: inline-block;
   /* flex-direction: row;
    justify-content: start;*/
}

#logo {
    display: inline-block;
    margin-left: 5px;
    margin-top: 20px;
    height: 200px;
    width: 200px;

}
#logoPhoto {
    height: 100%;
    width: 100%;
}
#headText1 {
    float: right;
    line-height: 1px;
    
    margin-left: 240px;
    margin-top: 100px;
    
}
#headText2 {
    float: right;
    line-height: 1px;
    
    margin-left: 200px;
    margin-top: 5px;
    
}

#headingPhoto {
   width: 100%;
   height: 100%;
}

#navBar {
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
  /*  border: solid salmon 1px;*/
    margin-top: 30px;
    border-bottom: solid red 1px;
}

#navBar a {
    color: silver;
    font-size: large;
    text-decoration: none;
}
#navBar a:hover {
    color: #866bff;
}
#estimator1 {
    
    padding: 10px;
}
table td {
    overflow: hidden;     
    padding: 10px;
    
}
input {
    font-size: bold;
    font-size: 18px;
}

#lines {
    color: springgreen;
    background-color: red;
    border: none;
    height: 2px;

}
#calculate1 {
    cursor: pointer;
    margin-left: 22px;
    padding: 10px;
    background-color: #340236;
    color: #ce0944;
    font-size: 15px;
    border: solid 2px #866bff;

}
#calculate2 {
    cursor: pointer;
    margin-left: 22px;
    padding: 10px;
    background-color: #340236;
    color: #ce0944;
    font-size: 15px;
    border: solid 2px #866bff;

}
#calculate1:hover {
    border: red solid 1px;
}
#calculate2:hover {
    border: red solid 1px;
}
.estimation {
    display: inline-block;
}
#result1 {
    font-size: 20px;
    font-weight: bold;
    color: green;
    text-decoration: underline;
    display: inline-block;

}
h3 {
    display: inline-block;
}
.inpc:empty {
    background-color:whitesmoke;
    
}
